{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script defer src="{% static 'javascript/home.js' %}"></script>
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <form method="get" id="selector">
    <!-- {% csrf_token %} -->
    <select name="one" onchange="select_change();">

      <option value="{{val.0}}" selected>{{ val.0 }}</option>

      {% for i in Rc1 %}
      <option value={{i.one}}> {{ i.one }} </option>
      {%endfor%}

    </select>

    <select name="two" onchange="select_change();">

      <option value="{{val.1}}" selected>{{ val.1 }}</option>

      {% for i in Rc2 %}
      <option value={{i.two}}> {{ i.two }} </option>
      {%endfor%}

    </select>

    <select name="thr" onchange="select_change();">

      <option value="{{val.2}}" selected>{{ val.2 }}</option>

      {% for i in Rc3 %}
      <option value={{i.thr}}> {{ i.thr }} </option>
      {%endfor%}

    </select>

    <input name = 'prev_one' style="display: none;" value = "{{ val.0 }}"></input>
    <input name = 'prev_two' style="display: none;" value = "{{ val.1 }}"></input>
    <input name = 'prev_thr' style="display: none;" value = "{{ val.2 }}"></input>

  </form>

</body>

</html>